<div class="container">
    <div class="example-button-row">
        <button type="button" mat-raised-button (click)="getObservableData()">Get Observable Data</button><br><br>
    </div>
    <div class="example-button-row">
        <button type="button" mat-raised-button color="primary" (click)="getSubjectData()">Get Subject
            Data</button><br><br>
    </div>
    <div class="example-button-row">{{observableData}} | {{observableData2}}</div>
    <div class="example-button-row">{{subjectData}} | {{subjectData2}}</div>
</div>